{% extends "base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/tech_quiz.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">

<div class="section-img">
    <div class="step-img">
        <img src="{%static 'media/techquiz1.png'%}" alt="">
        <div class="img-content">
            <p>STEP 1- SELECT YOUR CATEGORY</p>
        </div>

    </div>

    <div class="step-small-img">
        <img src="{%static 'media/Arrow.png'%}" alt="">
    </div>

    <div class="step-img">
        <img src="{%static 'media/techquiz2.png'%}" alt="">
        <div class="img-content">
            <p>STEP 2- CLICK ON SUBMIT</p>
        </div>
    </div>

    <div class="step-small-img">
        <img src="{%static 'media/Arrow.png'%}" alt="">
    </div>

    <div class="step-img">
        <img src="{%static 'media/techquiz3.png'%}" alt="">
        <div class="img-content">
            <p>STEP 3- TECH GENERATED</p>
        </div>
    </div>
</div>

<div id="starting-area">
    <h2 class="heading">NOW LET'S initiate the process
    </h2>
</div>


<form method="post">
    {%csrf_token%}
    <div class="main-field" style="display: flex; padding: 30px; height: 70px; flex-direction: row; width: 1000px; gap: 20px; margin: 10px auto; align-items: center; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background: linear-gradient(to right,#ff66001f,#0086dc1f);">
    <div class="field">
        <select name="category" onchange="manageResult()" class="form-select" id="titleDropdown">
            <option value="" selected disabled>Select Category</option>
            <option value=".NET">.NET</option>
            <option value=".NET Core">.NET Core</option>
            <option value=".NET MAUI">.NET MAUI</option>
            <option value=".NET Standard">.NET Standard</option>
            <option value="AJAX">AJAX</option>
            <option value="ADO.NET">ADO.NET</option>
            <option value="AI">AI</option>
            <option value="Active Directory">Active Directory</option>
            <option value="Agile Development">Agile Development</option>
            <option value="Algorand">Algorand</option>
            <option value="Algorithms in C#">Algorithms in C#</option>
            <option value="Angular">Angular</option>
            <option value="ArcObject">ArcObject</option>
            <option value="ASP.NET">ASP.NET</option>
            <option value="ASP.NET Core">ASP.NET Core</option>
            <option value="Augmented Reality">Augmented Reality</option>
            <option value="AWS">AWS</option>
            <option value="Azure">Azure</option>
            <option value="Backbonejs">Backbonejs</option>
            <option value="Big Data">Big Data</option>
            <option value="BizTalk Server">BizTalk Server</option>
            <option value="Blockchain">Blockchain</option>
            <option value="Blazor">Blazor</option>
            <option value="Bot Framework">Bot Framework</option>
            <option value="Bootstrap">Bootstrap</option>
            <option value="Business">Business</option>
            <option value="Business Intelligence">Business Intelligence</option>
            <option value="Business Intelligence(BI)">Business Intelligence(BI)</option>
            <option value="C, C++, MFC">C, C++, MFC</option>
            <option value="C#">C#</option>
            <option value="C# Corner">C# Corner</option>
            <option value="C# Strings">C# Strings</option>
            <option value="C# Standard">C# Standard</option>
            <option value="Career Advice">Career Advice</option>
            <option value="Careers and Jobs">Careers and Jobs</option>
            <option value="ChatGPT">ChatGPT</option>
            <option value="Cloud">Cloud</option>
            <option value="Compact Framework">Compact Framework</option>
            <option value="Com Interop">Com Interop</option>
            <option value="Cryptocurrency">Cryptocurrency</option>
            <option value="Cryptography">Cryptography</option>
            <option value="CSS">CSS</option>
            <option value="Current Affairs">Current Affairs</option>
            <option value="Custom Controls">Custom Controls</option>
            <option value="Cyber Security">Cyber Security</option>
            <option value="Data Mining">Data Mining</option>
            <option value="Data Science">Data Science</option>
            <option value="Database & DBA">Database & DBA</option>
            <option value="DevExpress">DevExpress</option>
            <option value="DirectX">DirectX</option>
            <option value="Dynamics CRM">Dynamics CRM</option>
            <option value="Enterprise Development">Enterprise Development</option>
            <option value="Entity Framework">Entity Framework</option>
            <option value="Error Zone">Error Zone</option>
            <option value="Exception Handling">Exception Handling</option>
            <option value="F#">F#</option>
            <option value="Files, Directory, IO">Files, Directory, IO</option>
            <option value="Flutter">Flutter</option>
            <option value="Games Programming">Games Programming</option>
            <option value="Generative AI">Generative AI</option>
            <option value="GDI+">GDI+</option>
            <option value="GitHub Actions">GitHub Actions</option>
            <option value="Google Cloud">Google Cloud</option>
            <option value="Google Development">Google Development</option>
            <option value="Graphics Design">Graphics Design</option>
            <option value="Hiring and Recruitment">Hiring and Recruitment</option>
            <option value="HoloLens">HoloLens</option>
            <option value="How do I">How do I</option>
            <option value="HTML 5">HTML 5</option>
            <option value="Ionic">Ionic</option>
            <option value="Internet & Web">Internet & Web</option>
            <option value="Internet of Things">Internet of Things</option>
            <option value="Java">Java</option>
            <option value="Java and .NET">Java and .NET</option>
            <option value="JavaScript">JavaScript</option>
            <option value="JQuery">JQuery</option>
            <option value="JSON">JSON</option>
            <option value="Kotlin">Kotlin</option>
            <option value="Leadership">Leadership</option>
            <option value="Learn .NET">Learn .NET</option>
            <option value="Learn iOS Programming">Learn iOS Programming</option>
            <option value="LINQ">LINQ</option>
            <option value="Machine Learning">Machine Learning</option>
            <option value="Metaverse">Metaverse</option>
            <option value="Microsoft 365">Microsoft 365</option>
            <option value="Microsoft Fabric">Microsoft Fabric</option>
            <option value="Microsoft Office">Microsoft Office</option>
            <option value="Microsoft Phone">Microsoft Phone</option>
            <option value="Microsoft Teams">Microsoft Teams</option>
            <option value="Mobile Development">Mobile Development</option>
            <option value="MongoDB">MongoDB</option>
            <option value="MuleSoft">MuleSoft</option>
            <option value="MySQL">MySQL</option>
            <option value="NEAR">NEAR</option>
            <option value="NET">NET</option>
            <option value="NetBeans">NetBeans</option>
            <option value="Networking">Networking</option>
            <option value="NoCode LowCode">NoCode LowCode</option>
            <option value="Node.js">Node.js</option>
            <option value="NFT">NFT</option>
            <option value="Office Development">Office Development</option>
            <option value="Open Source">Open Source</option>
            <option value="Operating Systems">Operating Systems</option>
            <option value="OOP/OOD">OOP/OOD</option>
            <option value="Oracle">Oracle</option>
            <option value="Outlook Development">Outlook Development</option>
            <option value="Outsourcing">Outsourcing</option>
            <option value="Philosophy">Philosophy</option>
            <option value="PHP">PHP</option>
            <option value="PostgreSQL">PostgreSQL</option>
            <option value="Power Apps">Power Apps</option>
            <option value="Power Automate">Power Automate</option>
            <option value="Power BI">Power BI</option>
            <option value="PowerShell">PowerShell</option>
            <option value="Printing in C#">Printing in C#</option>
            <option value="Products">Products</option>
            <option value="Project Management">Project Management</option>
            <option value="Progressive Web Apps">Progressive Web Apps</option>
            <option value="Progress">Progress</option>
            <option value="Python">Python</option>
            <option value="Quantum Computing">Quantum Computing</option>
            <option value="Q#">Q#</option>
            <option value="QlikView">QlikView</option>
            <option value="React">React</option>
            <option value="React Native">React Native</option>
            <option value="Robotics & Hardware">Robotics & Hardware</option>
            <option value="RPA">RPA</option>
            <option value="Ruby on Rails">Ruby on Rails</option>
            <option value="RUST">RUST</option>
            <option value="Salesforce">Salesforce</option>
            <option value="Security">Security</option>
            <option value="Servers">Servers</option>
            <option value="Sharepoint">Sharepoint</option>
            <option value="SignalR">SignalR</option>
            <option value="Smart Devices">Smart Devices</option>
            <option value="Software Architecture/Engineering">Software Architecture/Engineering</option>
            <option value="Software Testing">Software Testing</option>
            <option value="Solidity">Solidity</option>
            <option value="Startups">Startups</option>
            <option value="Stratis Blockchain">Stratis Blockchain</option>
            <option value="SyncFusion">SyncFusion</option>
            <option value="Swift">Swift</option>
            <option value="Threading">Threading</option>
            <option value="Tools">Tools</option>
            <option value="TypeScript">TypeScript</option>
            <option value="Unity">Unity</option>
            <option value="UWP">UWP</option>
            <option value="Vue.js">Vue.js</option>
            <option value="WCF">WCF</option>
            <option value="Wearables">Wearables</option>
            <option value="Web API">Web API</option>
            <option value="Web Design">Web Design</option>
            <option value="Web Development">Web Development</option>
            <option value="Web3">Web3</option>
            <option value="Windows">Windows</option>
            <option value="Windows Controls">Windows Controls</option>
            <option value="Windows Forms">Windows Forms</option>
            <option value="Windows PowerShell">Windows PowerShell</option>
            <option value="Windows Services">Windows Services</option>
            <option value="Workflow Foundation">Workflow Foundation</option>
            <option value="Xamarin">Xamarin</option>
            <option value="XAML">XAML</option>
            <option value="XNA">XNA</option>
            <option value="XSharp">XSharp</option>
            <option value="XML">XML</option>
            <option value="Cosmos DB">Cosmos DB</option>
            <option value="Kotlin">Kotlin</option>
            <option value="R">R</option>
            <option value="Cryptography">Cryptography</option>
            <option value="React Native">React Native</option>
            <option value="XSharp">XSharp</option>
          </select>
    </div>
    <div class="field">
        <select name="Level" onchange="manageResult()" class="form-select" id="titleDropdown">
            <option value="" selected disabled>Select Level</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Hard">Hard</option>
        </select>
    </div>

    <div class=" text-center">
        <button class="btn btn-success btn-md load" type="submit">submit</button>
    </div>
    </div>

    <!-- pop-up for loading -->
    <div id="loading-overlay">
        <div id="loading-modal">
            <div class="waviy">
                <span style="--i:1;color: #273c75;font-size: 70px;font-weight: 500;">c</span>
                <span style="--i:2;color: #273c75;">s</span>
                <span style="--i:3;color: #273c75;">h</span>
                <span style="--i:4;color: #273c75;">a</span>
                <span style="--i:5;color: #273c75;">r</span>
                <span style="--i:6;color: #273c75;">p</span>
                <span style="--i:7;color: rgb(211, 58, 3);font-size: 70px;">a</span>
                <span style="--i:8;color:rgb(211, 58, 3);font-size: 70px;">i</span>
            </div>
        </div>
    </div>

    

    {% if quiz.Questions %}
    <div class="field" name="quiz">

        {% csrf_token %}
        {% for question in quiz.Questions %}
        
        <div style= "padding: 10px; width:70%; margin: 50px auto; background: linear-gradient(to right,#ff66001f,#0086dc1f); border-radius: 10px; box-shadow: 10px 10px 10px rgba(4, 125, 190, 0.634);">
            <p><b>Question: </b>{{ question.Question }}</p>
            <ul>
                {% for key, value in question.options.items %}
                <p name="{{ question.Question }}_options" value="{{ key }}">
                    {{ key }}. {{ value }}
                </p>
                {% endfor %}
            </ul>
        <p><b>Correct Answer:</b> {{ question.CorrectAnswer }}</p>
        </div>
        {% endfor %}
        <div style="height: 20px;"></div>
    </div>
    
    {% comment %} {%else%}
    <div class="field" name="quiz">
        {{quiz|safe}}
    </div> {% endcomment %}
    {% endif %}
    
    
</form>


<script src="{% static 'js/loader.js' %}"></script>
{% endblock %}